<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&  display=swap" rel="stylesheet">
    <title>Club_Basketball_stats</title> 
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png">   

    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    /> -->
    <link href="/output.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
   
  </head>
  <body>
    <header >
      <div class="relative ml-2">        
          <img src="/imgs/silhouette-jumping.png" alt="jumping-basketbal-player" class="hidden md:block md:absolute md:top-1 md:left-0 md:opacity-50 md:w-12">
        
        <div class="  text-3xl h-full flex items-center ">
          <a href="/profile" class="hidden md:inline-block lg:inline-block font-Inter font-semibold p-3 drop-shadow-sm">Club Basketball <span class="text-5xl">stats</span> tracker</a>
         
          
        </div>
        <!-- <div class="w-[200px] flex justify-center  mr-6 ">
          <img src="imgs\basketball-305775_640.png" alt="basketball" class="h-full p-1">
        </div> -->
      </div>
    </header>
  </body>
</html>
