<%- include('partials/header') -%>

<main class="page pt-5">
  <section class="d-flex justify-content-center pt-5">
    <div
      class="cards align-items-center column text-center pt-5 pb-5 w-50 mt-5"
    >
      <a href="/login" class="col-6 btn border-radius-m-3 btn-dark btn">
        Login</a
      >
      <a href="/signup" class="col-6 btn m-3 btn-dark btn"> Signup</a>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>
