<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club_Basketball_stats</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header id="header">
      <nav>
        <!-- Hamburger menu icon for mobile -->

        <!-- Mobile links (hidden by default) -->
        <aside class="sidebar hidden">
          <sidebar-header>
            <span class="material-symbols-outlined close-btn"> close </span>
          </sidebar-header>

          <ul>
            <li><a href="/login">log in</a></li>
            <li><a href="/signup">sign up</a></li>
          </ul>
        </aside>
        <!-- Desktop links -->

        <ul class="desktop-links">
          <li><a href="/login">log in</a></li>
          <li><a href="/signup">sign up</a></li>
        </ul>
      </nav>
    </header>

    <!-- description of what club basketball is -->

    <section class="image">
      <span class="material-symbols-outlined open"> menu </span>
    </section>

    <section class="text">
      <h2>
        What is
        <span
          >club <br />
          basketball?</span
        >
      </h2>
      <p>
        Amateur Athletic Union also known as club basketball It’s played by
        hundreds of thousands of American youth across the country. It refers to
        non-school teams that are competing.
      </p>
    </section>

    <!-- description of what tracker is used for -->

    <section class="image"></section>
    <section class="text">
      <h1>With Club Basketball Stats Tracker</h1>
      <p>
        Coaches or score keepers are able to record accurate stats for each
        player in their team during a game with the click of a button.
      </p>
    </section>

    <footer>
      <div></div>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
