<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club_Basketball_stats</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-items">
            <a href="/login" class="nav-links">Log in</a>
          </li>
          <li class="nav-items">
            <a href="/signup" class="nav-links">Sign up</a>
          </li>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!-- description of what club basketball is -->

    <section class="parallax">
      <section class="image"></section>
      <section class="wrapper-1">
        <div class="col-1">
          <img
            src="/imgs/silhouette-jumping.png"
            width="209px"
            alt="Player jumping"
          />
        </div>
        <div class="col-2">
          <h2>
            What is
            <span>club <br />basketball?</span>
          </h2>
          <p>
            Amateur Athletic Union also known as club basketball It’s played by
            hundreds of thousands of American youth across the country. It
            refers to non-school teams that are competing.
          </p>
        </div>
      </section>
    </section>

    <!-- description of what tracker is used for -->

    <section class="parallax">
      <section class="image"></section>
      <section class="wrapper-2">
        <div class="col-3">
          <h1>With Club Basketball Stats Tracker</h1>
          <p>
            Coaches or score keepers are able to record accurate stats for each
            player in their team during a game with the click of a button.
          </p>
        </div>
        <div class="col-4">
          <img src="/imgs/silhouette-stepping.png" width="490px" alt="" />
        </div>
      </section>
    </section>

    <!-- Footer -->
    <footer>
      <div>
        <p>Hello</p>
      </div>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
