<%- include('partials/header') -%>

<main class="pt-10 md:flex md:justify-center">
      <!-- Image  -->
    <div class="md:rounded md:w-[456px] md:h-[550px] md:mr-2 mt-6 drop-shadow-2xl" style="background-image:url('/imgs/girlPlayer.jpg');"> 
      </div>
      <!-- Log-in form -->
      <section class="md:bg-white md:drop-shadow-xl md:rounded md:border-[1px] md:border-[#DBD6D6] md:w-[456px] md:h-[550px] mt-6">
        <div class="  p-5 flex justify-center items-center mt-5">
          <img src="imgs\basketball-305775_640.png"  class=" w-[90px]" alt="basketball">
      </div>

    

      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>        
        <div class="text-red-500"><%= el.msg %></div>  
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
            <div class=""><%= el.msg %></div>
            <% }) %> <% } %>

            <form action="/login" method="POST" class="p-6 flex flex-col justify-center">
              <div class="  flex flex-col justify-center"> 
                <div class=" mb-3 w-full">
                  <input
                    type="email"
                    class="border-[1px] border-[#DBD6D6] p-2 w-full text-md text-[
                    #A49C9C] rounded  bg-[#F3F3F3]"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                    placeholder="Email address"
                    />
                  </div>
                  <div class=" mb-3 w-fll">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <input
                    type="password"
                    class="border-[1px] border-[#DBD6D6] p-2 w-full text-[
                    #A49C9C] bg-[#F3F3F3] text-md rounded mb-4"
                    id="exampleInputPassword1"
                    name="password"
                    placeholder="Password"
                    />
                  </div>
                  <button type="submit" class="row-span-full font-Inter font-bold text-xl text-white rounded-md bg-[#2E2929]  p-2 w-full">Log in</button>
                </div>
              </form>
            </section>
        
            
</main>

<%- include('partials/footer') -%>
