<%- include('partials/header') -%>

    <main class="pt-10 md:flex md:justify-center">
        <div class="border-2 border-blue-700  pt-10 md:flex md:justify-center ">
          <div class="p-5 flex justify-center items-center mt-5">
            <img src="imgs\basketball-305775_640.png"  class=" w-[90px]" alt="basketball">
        </div>
          <div class="border-2 border-red-700 font-Inter font-semibold">
             <h4 class="font-weight-bold">Add New Player</h4>
          </div>
          <div class="border-2 border-purple-700">
            <form action="/players/addPlayer" id="add_player_form" method="POST">
             <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="col-form-label" for="playerNumber"
                    ></label
                    >
                    <input
                    type="number"
                    class="border-2 border-green-700"
                    name="playerNumber"
                    placeholder="enter team number"
                    id="playerNumber"
                    />
                </div>
              </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                <label class="col-form-label" for="team"></label>
                <input
                    type="text"
                    class="form-control"
                    name="team"
                    placeholder="enter team"
                    id="team"
                />
                </div>
            </div>
            
                <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label" for="firstName"></label>
                    <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    placeholder="enter first name"
                    id="firstName"
                    />
                </div>
                </div>
                <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label" for="lastName"></label>
                    <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    placeholder="enter last name"
                    id="lastName"
                    />
                </div>
                  <div class="">
                    <button type="submit" class="mt-2 btn btn-success">Submit</button>
                    <a href="/profile" class="mt-2 btn btn-light">Cancel</a>
                </div>
              </div>
             </form>
            </div>          
                    
        </div>  
      </main>
   

  
      
        
      
    

<%- include('partials/footer') -%>
