<% - include('partials/header') -%>

<div class="card">
  <div class="card-header">
    <h4 class="font-weight-bold">Update Player</h4>
  </div>
  <div class="card-body">
    <form action="/updatePlayer/<%player.id %>"  id="update_player_form"  method="POST">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="playerNumber"
              >Player's Number</label
            >
            <input
              type="number"
              class="form-control"
              value="<%=player.playerNumber %>"
              name="playerNumber"
              placeholder="enter team number"
              id="playerNumber"
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-form-label" for="team">Team</label>
          <input
            type="text"
            class="form-control"
            value="<%= player.team %>"
            name="team"
            placeholder="enter team"
            id="team"
          />
        </div>
      </div>
      </div>
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              value="<%= player.firstName %>"
              name="firstName"
              placeholder="enter first name"
              id="firstName"
            />
          </div>
        </div>
      </div> 
      
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              value="<%= player.lastName %>"
              name="lastName"
              placeholder="enter last name"
              id="lastName"
            />
          </div>
        </div>
      </div >

    <div class="">
        <button type="submit" class="btn btn-success">Update</button>
        <a href="/profile" class="btn btn-light">Cancel</a>
    </div>
    </form >
  </div >
</div >
