@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 200%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #353637;
  background: #1d1919;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 25, 25, 0.75);
  position: fixed;
  top: 3.8rem;
  right: 0;
  z-index: 9999;
  min-height: 25%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1.5rem;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}

.nav-menu.active {
  width: 180px;
}

.nav-items {
  padding-bottom: 1rem;
  width: 95px;
}

.nav-links {
  color: white;
  font-size: 1.5rem;
}

.nav-links:hover {
  color: rgb(47, 173, 236);
}

.hamburger {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3x ease-in-out;
  background-color: #fff;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    min-height: 100%;
    width: 200px;
    overflow-x: none;
    transition: 0.5s;
    padding-top: 1.5rem;
    padding-bottom: 10px;
    border-radius: 0;
    border: 1px solid #353637;
  }
}

/* .header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 20px;
  background: #1d1919;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
} */

.image {
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../imgs/basketball-ref.jpg);
  z-index: -1;
}

/* .forground::before {
    content: "";
    
} */

.text {
  color: #000000;
  border: 2px solid red;
}

.wrapper-img {
  border: 2px solid black;
  display: none;
}

/* .text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  rotate: -2deg;
  translate: -50% -50%;
  width: 150%;
  height: 125%;
  background: #fff;
} */

.text .hero h2 {
  /* margin-bottom: 1rem; */
  font-size: 2.5rem;
}

.hero p {
  line-height: 2.4rem;
  width: 100%;
}

.text-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: 2px solid blue;
}

.text span {
  color: #ae4a11;
  font-weight: 700;
  font-size: 2.5rem;
}

h1 {
  white-space: nowrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid black;
}

.text .hero {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .forground {
    margin-left: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }

  .wrapper-img {
    display: block;
    padding: 1rem;
    /* margin-right: 2rem; */
  }

  .text {
    width: 50%;
    /* margin-left: 15.5rem; */
  }
}
/* Login page */
/* .form-label,
p {
  color: rgb(188, 167, 167);
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Glassmorphism card effect */
.cards {
  max-height: 400px;
  max-width: 600px;
  backdrop-filter: blur(4px) saturate(182%);
  -webkit-backdrop-filter: blur(4px) saturate(182%);
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

/* Generated by https://generator.ui.glass/ */

/* Profile page */
.card {
  background-color: #181212;
}

.card-player {
  width: 60vw;
  padding: 2rem;
  margin: auto;
}

.stats {
  margin-left: 20px;
}

.font-weight-bold {
  color: rgb(188, 167, 167);
}

/******************************************
/* BUTTONS
/*******************************************/
.btn:hover {
  background-color: #6e6363;
}

.pointer {
  display: inline;
  padding: none;
}

.btn-secondary {
  margin: 0 2px 0 7px;
}

/******************************************
/* Media Queries
/*******************************************/
